
/*universal styles*/
html {
    font-family: "Dosis";
    font-size: 16px;
    opacity: 0.8;
    min-width: 300px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

/*differences for screen sizes on nav bar*/
/*reduce font size when first breaks*/
@media only screen and (max-width: 680px) {
    html {
        font-size: 12px;
    }
}
/*remove logo on second break*/
@media only screen and (max-width: 520px) {
    header .logo-title #logo {
        display: none;
    }
}
/*smallest screen will have smaller fonts*/
@media only screen and (max-width: 460px) {
    html {
        font-size: 8px;
    }
}
/*only has hovering capability from first screen break up to biggest screen*/
@media only screen and (min-width: 661px) {
    header a:hover {
        transition: all 0s ease 0.1s;
        background-color: hsl(147, 100%, 100%);
        padding: 20% 0.75rem;
        margin: -20% -0.75rem;
    }
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 5rem;
    background-color: hsl(147, 90%, 90%);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*logo and title appear on left*/
header .logo-title {
    margin-left: 1rem;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

/*specific to logo*/
header .logo-title #logo {
    width: 3rem;
    height: auto;
    margin-right: 1rem;
    border: 1px solid black;
    border-radius: 0.75rem;
    /*applies after hover and returns smoothly to upright*/
    transition: all 0.5s ease 0.1s;
    transform: rotate(0deg);
}

/*animation on hover with logo*/
header .logo-title #logo:hover {
    transition: all 0.5s ease 0.1s;
    transform: rotate(-10deg);
}

/*have navigation panel appearing on right*/
nav ul {
    margin-right: 0.75rem;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

/*specific to list items - needs display to remove bullets*/
nav ul li {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0 0.75rem;
    display: inline-flex;
}

/*contact bar*/
.contact-details {
    position: fixed;
    z-index: 20;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-details img {
    height: 2rem;
}

.contact-details h2 {
    margin-left: 0.5rem;
}

.contact-details #email {
    margin-left: 2rem;
    height: 1.9rem;
}

/*add underline when hovering*/
.contact-details #address:hover {
    text-decoration: underline;
}

/*main*/
.banner {
    position: relative;
    top: 9rem;
    left: 0;
    width: 90%;
    height: 30rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    }
    
.banner::before {
    content: "";
    background-image: url("../images/lucy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -3;
}

.banner-text {
    padding: 0.5rem 2rem;
    width: 100%;
}


/*portfolio*/
#portfolio {
    position: relative;
    width: 100%;
    top: 10rem;
    left: 0;
    margin: 0 0;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;
}

#portfolio img {
    max-height: 200px;
    max-width: 300px;
    margin: 0;
}

#portfolio figcaption {
    max-width: 300px;
    margin-bottom: 10px;
    font-size: 1.125rem;
}

/*contact and testimonials*/
footer {
    position: relative;
    top: 10rem;
    left: 0;
    border-top: 1px solid black;
}

footer #testimonials {
    padding: 0.25rem;
    background-color: hsl(147, 95%, 95%);
}

footer #contact-me {
    border-top: 1px solid black;
}

footer img {
    width: 8rem;
}

/*use jquery for this as wont work in css alone*/
footer img:hover ~ .contact-details{
    background-color:  hsl(147, 50%, 50%);
}

#copyright {
    padding: 0.25rem;
    left: 0;
    border-top: 1px solid black;
    background-color: hsl(147, 95%, 95%);
    text-align: left;
}